<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greeting</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script>
        function woohoo() {
            window.location.href = "https://www.youtube.com/watch?v=rn0brgg2BpI&ab_channel=TaylorSwiftVEVO";
        }
    </script>
</head>

<body>

    <div class ='container'>
        <div class= 'confetti'></div>
        <div class= 'confetti'></div>
        <div class= 'confetti'></div>
        <div class= 'confetti'></div>
        <div class= 'confetti'></div>
        <div class= 'confetti'></div>
        <div class= 'confetti'></div>
        <div class= 'confetti'></div>
        <div class= 'confetti'></div>
        <div class= 'confetti'></div>
        </div>


    <div class = "blob" onclick = "woohoo()">helu deveg :-: </div>
    
 <img src="{{url_for('static', filename='photos/boo.png')}}">

<div class="hert">
    <p>spam here :0</p>
    <ul>
        <li>
            <div class = "r">
          <input type="checkbox"/>
          <div class = "x">i</div>
        </div>
        </li>
        <li>
        <div class = "r">
          <input type="checkbox" />
          <div class = "x">&lt;3</div>
        </div>
        </li>
      </ul>
</div>
</body>
</html>
